header {
    background-color: rgb(41,20,26);
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-weight: 550;
    color: rgb(255,170,170);
    text-align: center;
    width: auto; height: auto;
    padding-left: 40px; padding-right: 40px;
}

button {
    background-color: white;
    border: 5px rgb(41,20,26); border-style: double;
    font-size: 12pt;
}

#form {
    border: 5px rgb(41,20,26); border-style: solid;
    background-color: white;
    margin: 5px;
    padding: 15px 20px 15px 10px;
    width: fit-content; height: fit-content;
}

.divisionline {
    border: 2px rgb(255,170,170); border-style: solid;
    margin: 10px 0px;
}

.receivable {
    font-size: small;
    color: #343432;
}

.signup {
    float: left;
    background-color: rgb(255,170,170);
    border: 3px black solid;
    padding: 5px 20px;
    color: rgb(41,20,26);
    margin: 10px 0px 0px 30px;
}

.signup:hover {
    float: left;
    background-color: rgb(241,146,146);
    border: 3px black solid;
    padding: 5px 20px;
    color: rgb(41,20,26);
    margin: 10px 0px 0px 30px;
}

.cancel {
    float: left;
    background-color: gray;
    border: 3px black solid;
    padding: 5px 20px;
    color: rgb(41,20,26);
    margin: 10px 30px 0px 0px;
}

.cancel:hover {
    float: left;
    background-color: lightslategray;
    border: 3px black solid;
    padding: 5px 20px;
    color: rgb(41,20,26);
    margin: 10px 30px 0px 0px;
}

.additional {
    float: left;
    background-color: rgb(41,20,26);
    border: 3px black solid;
    padding: 5px 20px;
    color: white;
    margin: 10px 30px 0px 0px;
    font-size: 14px;
}

a {
    color: inherit;
}